.ilist {
    min-width: 100%;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns: 
        minmax(50px, 1fr)
        minmax(150px, 1.5fr)
        minmax(150px, 1fr)
        minmax(150px, 2fr)
        minmax(150px, 4fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 2fr);
}
.ilist .spacer td {
    padding: 0px;
}
.ilist thead,
.ilist tbody,
.ilist tr {
    display: contents;
}
.ilist th,
.ilist td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ilist th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}
.ilist th:last-child {
    border: 0;
}
.ilist th>span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
}
.ilist th>span:hover,
/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.ilist .header--being-resized span {
    opacity: 0.5;
}
.ilist th:hover span {
    opacity: 0.3;
}
.ilist td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}
.ilist tr:nth-child(even) td {
    background: #f8f6ff;
}
.ilist tbody tr:hover td {
    background: #cdbfff;
}